body{
  padding-top: 20px;
  width: 100%;
  max-width: 700px;
  margin: auto;
  font-family: sans-serif;
}

textarea{
  resize: none;
  height: 120px;
  width: 100%;
  max-width: 400px;
}

img{
  width: 80%;
  max-width: 200px;
  margin: auto;
  selectable: none;
}

::selection{
  background-color: black;
  color: white;
}
